* {
    box-sizing: border-box;
}

header {
 background-color: rebeccapurple;
    padding: 10px;
}

body {
    background-color: darkgray;
}

table, th, td {
    border: 1px solid black;
    background-color: white;
}
